<h1>Listando clientes (<%= @clients.length %>)</h1>
<p>
	<%= link_to 'Novo cliente', new_client_path %>  
</p>

<table id="flexigrid"></table>
<script>
  $('#flexigrid').flexigrid({
    url: 'http://localhost:3000/clients.json',
    method: 'get',
    dataType: 'json',    
    colModel : [
      {display: 'Essid', name : 'essid', width : 100},
      {display: 'MAC', name : 'mac', width : 100}
    ], 
    searchitems : [
      {display: 'Essid', name : 'essid'},
      {display: 'Enc', name : 'enc'}
    ],
    sortname: "essid",
    sortorder: "desc",
    usepager: true,
    title: 'Clients',
    useRp: true,
    rp: 15,
    showTableToggleBtn: true,
    width: 700,
    height: 200
    
  });
</script>

<% table @clients, ['Essid', 'MAC', 'Enc', 'Key', 'IP', 'Mask', 'Canal', 'País', 'Cidade', 'Estado'] do |client| %>
  <tr> 
    <td width='150px'><%= link_to client.ap.essid, client.ap if client.ap %></td>    
    <td><%= link_to client.mac, client %></td>
    <td></td>
    <td></td>
    <td><%=h client.ip %></td>
    <td><%=h client.mask %></td>
    <td><%=h client.channel %></td>
    <td><%=h client.country %></td>
    <td><%=h client.city %></td>
    <td><%=h client.region %></td>  
    <td class="actions"> 
    	<%= link_to 'Editar', edit_client_path(client) %>
    	<%= link_to 'Apagar', client, :confirm => 'Tem certeza?', :method => :delete %>
	</td>
  </tr>
<% end %>