<h1>Listando clientes</h1>
<table>
  <tr> 
    <th>AP</th> 
    <th>Mac</th>
    <th>Ip</th>
  </tr>

<% for client in @clients %>
  <tr> 
    <td><%=h client.ap.essid if client.ap %></td>    
    <td><%=h client.mac %></td>
    <td><%=h client.ip %></td>
    <td><%= link_to 'Ver', client %></td>
    <td><%= link_to 'Editar', edit_client_path(client) %></td>
    <td><%= link_to 'Apagar', client, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo cliente', new_client_path %>
