<h1>Listando Pontos de acesso</h1>

<table>
  <tr>
    <th>Essid</th>
    <th>MAC</th>
    <th>Enc</th>
    <th>Key</th>
    <th>Ip</th>
    <th>Mask</th>
    <th>Dhcp</th>
    <th>Canal</th>
    <th>Pa&iacute;s</th>
    <th>Cidade</th>
    <th>Estado</th>
  </tr>

<% for ap in @aps %>
  <tr>
    <td><%=h ap.essid %></td>
    <td><%=h ap.mac %></td>
    <td><%=h ap.enc %></td>
    <td><%=h ap.key %></td>
    <td><%=h ap.ip %></td>
    <td><%=h ap.mask %></td>
    <td><%=h ap.dhcp %></td>
    <td><%=h ap.channel %></td>
    <td><%=h ap.country %></td>
    <td><%=h ap.city %></td>
    <td><%=h ap.region %></td>
    <td><%= link_to 'Ver', ap %></td>
    <td><%= link_to 'Editar', edit_ap_path(ap) %></td>
    <td><%= link_to 'Apagar', ap, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo ap', new_ap_path %>
