<h1>New ap</h1>

<% form_for(@ap) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :essid %><br />
    <%= f.text_field :essid %>
  </p>
  <p>
    <%= f.label :mac %><br />
    <%= f.text_field :mac %>
  </p>
  <p>
    <%= f.label :enc %><br />
    <%= f.text_field :enc %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label :mask %><br />
    <%= f.text_field :mask %>
  </p>
  <p>
    <%= f.label :dhcp %><br />
    <%= f.check_box :dhcp %>
  </p>
  <p>
    <%= f.label :channel %><br />
    <%= f.text_field :channel %>
  </p>
  <p>
    <%= f.label :pais %><br />
    <%= f.text_field :pais %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', aps_path %>
