<p>
  <b>Essid:</b>
  <%=h @ap.essid %>
</p>

<p>
  <b>Mac:</b>
  <%=h @ap.mac %>
</p>

<p>
  <b>Enc:</b>
  <%=h @ap.enc %>
</p>

<p>
  <b>Key:</b>
  <%=h @ap.key %>
</p>

<p>
  <b>Ip:</b>
  <%=h @ap.ip %>
</p>

<p>
  <b>Mask:</b>
  <%=h @ap.mask %>
</p>

<p>
  <b>Dhcp:</b>
  <%=h @ap.dhcp %>
</p>

<p>
  <b>Channel:</b>
  <%=h @ap.channel %>
</p>

<p>
  <b>Pais:</b>
  <%=h @ap.pais %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @ap.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%=h @ap.estado %>
</p>


<%= link_to 'Edit', edit_ap_path(@ap) %> |
<%= link_to 'Back', aps_path %>
