<h1><%= @ap.essid %></h1>
<p>
  <b>Essid:</b>
  <%=h @ap.essid %>
</p>

<p>
  <b>Mac:</b>
  <%=h @ap.mac %>
</p>

<p>
  <b>Enc:</b>
  <%=h @ap.enc %>
</p>

<p>
  <b>Key:</b>
  <%=h @ap.key %>
</p>

<p>
  <b>Ip:</b>
  <%=h @ap.ip %>
</p>

<p>
  <b>Mask:</b>
  <%=h @ap.mask %>
</p>

<p>
  <b>Dhcp:</b>
  <%=h @ap.dhcp %>
</p>

<p>
  <b>Canal:</b>
  <%=h @ap.channel %>
</p>

<p>
  <b>Pais:</b>
  <%=h @ap.country %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @ap.city %>
</p>

<p>
  <b>Estado:</b>
  <%=h @ap.region %>
</p>

<% for client in @ap.clients %>
	<p>Cliente: <%= client.mac %></p>
	<% end %>

<%= link_to 'Editar', edit_ap_path(@ap) %> |
<%= link_to 'Voltar', aps_path %>
