<h1>Listing logfiles</h1>

<table>
  <tr>
    <th>Type</th>
    <th>State</th>
    <th>Source content type</th>
    <th>Source file name</th>
    <th>Source file size</th>
    <th>Note</th>
  </tr>

<% for logfile in @logfiles %>
  <tr>
    <td><%=h logfile.type %></td>
    <td><%=h logfile.state %></td>
    <td><%=h logfile.source_content_type %></td>
    <td><%=h logfile.source_file_name %></td>
    <td><%=h logfile.source_file_size %></td>
    <td><%=h logfile.note %></td>
    <td><%= link_to 'Show', logfile %></td>
    <td><%= link_to 'Edit', edit_logfile_path(logfile) %></td>
    <td><%= link_to 'Destroy', logfile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New logfile', new_logfile_path %>
