<h1>Enviar arquivo</h1>

<% form_for(@logfile) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :source %><br />
    <%= f.file_field :source %>
  </p>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', logfiles_path %>
