<h1>Listando cidades</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>CEP</th>
  </tr>

<% for city in @cities %>
  <tr>
    <td><%=h city.name %></td>
    <td><%=h city.code %></td>
    <td><%= link_to 'Ver', city %></td>
    <td><%= link_to 'Editar', edit_city_path(city) %></td>
    <td><%= link_to 'Apagar', city, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova cidade', new_city_path %>
