<h1>Nova cidade</h1>

<% form_for(@city) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cep %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', cities_path %>
