<h1><%=h @city.name %></h1>
<p>
  <b>Nome:</b>
  <%=h @city.name %>
</p>

<p>
  <b>Cep:</b>
  <%=h @city.code %>
</p>


<%= link_to 'Editar', edit_city_path(@city) %> |
<%= link_to 'Voltar', cities_path %>
