<h1>Listing regions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>

<% for region in @regions %>
  <tr>
    <td><%=h region.name %></td>
    <td><%=h region.code %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New region', new_region_path %>
