<li><%= link_to "Aps" , aps_path %></li>
<li><%= link_to "Logfiles" , logfiles_path %></li>
<li><%= link_to "Usuarios", users_path %></li>
<br>
<li><%= link_to "Cidades" , cities_path %></li>
<li><%= link_to "Estados" , regions_path %></li>
<li><%= link_to "Paises", countries_path %></li>